body {
  margin: 0px;
  padding: 0px;
}

.header {
  border-bottom: 2px solid red;
}

.page {
  height: -moz-max-content;
  height: max-content;
}

/*.footer{

}*/
.column {
  /* border: 1px solid black; */
  width: 1000px;
  margin: 0px auto;
}

.page .column {
  height: 100vh;
}

.page .column .krugovi {
  margin-top: 150px;
  justify-content: center;
}

#logo-i-social {
  display: flex;
}

#logo-holder {
  flex-grow: 1;
}

#social-holder {
  flex-grow: 1;
  text-align: right;
}

#social-holder a {
  text-decoration: none;
}

#social-holder a img {
  width: 24px;
  height: 24px;
}

#social-holder img {
  margin: 10px;
}

#logo-holder img {
  width: 50px;
  height: 50px;
  margin: 5px;
}

#main-menu {
  display: flex;
}

#main-menu a {
  flex-grow: 1;
  text-align: center;
  text-decoration: none;
  color: red;
  display: block;
  padding: 10px 0;
  transition: 0.3s;
}

#main-menu a:hover,
#main-menu a.active {
  background: #dc0101;
  color: #ffffff;
}

#pocetna {
  text-align: center;
  color: white;
  background: url("../img/backgroundPocetna.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#pocetna h1 {
  font-size: 48pt;
  margin-top: 0px;
  padding-top: 50px;
  padding-top: calc(50vh - 400px);
}

.dark-box {
  border: 1px solid white;
  background-color: rgba(153, 153, 153, 0.2509803922);
  font-size: 24pt;
  padding: 40px;
}

#usluge {
  background: url("../img/4.jpg");
  background-size: cover;
  width: -moz-max-content;
  width: max-content;
  background-attachment: fixed;
}

#karijera {
  background: url("../img/proizvodi.jpg");
  background-size: cover;
  background-attachment: fixed;
  width: 1300px;
}

.align-center {
  text-align: center;
}

.krugovi {
  display: flex;
  margin: 25px 0px;
}

.krug-holder {
  flex-grow: 1;
  text-align: center;
}

.krug {
  background-color: #dc0101;
  color: white;
  font-size: 50px;
  font-weight: bold;
  display: inline-block;
  padding: 25%;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.oznaka {
  margin-top: 20px;
  font-size: 24px;
  font-weight: bold;
}

.tehnologije {
  display: flex;
}

.tehnologija {
  flex-grow: 1;
  text-align: center;
  display: inline-block;
}

.tehnologija img {
  width: 48px;
  height: 48px;
}

.tehnologija p {
  font-weight: bold;
}

.teks {
  margin-top: 100px;
}

#usluge {
  color: #ffffff;
}

#usluge h2 {
  padding-top: 40px;
  color: #ffffff;
  font-weight: bold;
  font-size: 50px;
}

#usluge p {
  font-weight: bold;
}

.service-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.service-row div {
  flex-basis: calc(33.33% - 20px);
  min-height: 300px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  border: 1px solid #ffffff;
}
.service-row div img {
  max-width: 100%;
  height: 250px;
  margin-bottom: 10px;
  border: 1px solid #ffffff;
}
.service-row div p {
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 16px;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
  font-weight: bold;
}

/*.okvir {
    width: 600px;
    height: 600px;
    display: grid;
    border:1px solid black;
    grid-template : "logo header header"
                    "title title sidebar"
                    "body body sidebar"
                    "footer footer footer";
    grid-template-rows: 100px 50px 1fr 50px;
    grid-template-columns: 200px 1fr 150px;


}
*/
#proizvodi h2 {
  padding-top: 30px;
  text-align: center;
}

.matrica {
  margin-top: 40px;
  height: 600px;
  display: grid;
  grid-template: "a b c" "d b e" "f f g"/1fr 1fr 1fr;
  align-items: space-between;
  justify-content: space-between;
}

.proizvod img {
  width: 100%;
  height: 100%;
  grid-area: region;
  justify-self: stretch;
  justify-self: stretch;
}

#proizvod-a {
  grid-area: a;
}

#proizvod-b {
  grid-area: b;
}

#proizvod-c {
  grid-area: c;
}

#proizvod-d {
  grid-area: d;
}

#proizvod-e {
  grid-area: e;
}

#proizvod-f {
  grid-area: f;
}

#proizvod-g {
  grid-area: g;
}

.proizvod {
  display: grid;
  grid-template: "region";
  align-content: stretch;
  justify-content: stretch;
}

.proizvod .text-holder {
  grid-area: region;
  font-size: 30px;
  font-weight: bold;
  background-color: rgba(233, 76, 76, 0.5215686275);
  opacity: 0;
  font-style: italic;
  display: grid;
  align-content: center;
  justify-content: center;
  transition: 0.5s;
}

.proizvod:hover .text-holder {
  opacity: 1;
}

#proizvod-d span,
#proizvod-f span {
  color: white;
}

.proizvod {
  margin: 10px;
  border-color: aqua;
}/*# sourceMappingURL=style.css.map */